{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12.13.0"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "src"
      }
    ]
  ]
}